<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" 
bootstrap="vendor/autoload.php" 
executionOrder="depends,defects" 
beStrictAboutOutputDuringTests="true" 
failOnRisky="true" 
failOnWarning="true"
 cacheDirectory=".phpunit.cache"
  beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <coverage disableCodeCoverageIgnore="false" >
    <report>
      <html outputDirectory="coverage-html"
        lowUpperBound="30" 
        highLowerBound="60" />
    </report>
  </coverage>
  <php>
      <server name="APP_ENV" value="testing"/>
      <server name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
